# Configuration Supabase
REACT_APP_SUPABASE_URL=https://ckseyrmpywyczywfdmhu.supabase.co
REACT_APP_SUPABASE_KEY=votre_clé_anon_ici

# Configuration Google APIs (si nécessaire)
REACT_APP_GOOGLE_CLIENT_ID=votre_client_id_google_ici

# Configuration de l'environnement
REACT_APP_ENVIRONMENT=development
